body {
    margin: 0vw;
    width: 100%;
    height: 100%;
    /* background-color: lightcoral; */
    font-family: Arial, Helvetica, sans-serif;
  }
  .contener{
  
    position: absolute;
    bottom: 10px;
    height: 87%;
    width: 100%;
    border: 3px solid;
  }
  #log h4{
    margin-right: 70px;
    padding-right: -20px;
    color:white;
  }
 #affix{
   background-color:#0F333E;
 }
 .dash{
   background-color: #164657;
    width: inherit;
    height: 70px;
    padding-top: 20px;
    color: white;
 }
  /* Create a column layout with Flexbox */
  .rows {
    display: flex;
    height: 100%;
    left: 0;
    bottom: 0;
    width: 100%;
   
    
  }
  
  /* Left column (menu) */
  .left {
    background-color: #05422C;
    height: 100%;
    flex: 15%;
    padding: 15px 0;
   
  }
  
  .left h2 {
    padding-left: 8px;
    color: rgb(250, 250, 250);
  }
  
  /* Right column (page content) */
  .right {
    flex: 95%;
    padding: 15px;

  }
  
  /* Style the search box */
  #mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid;
    
  }
  #srch{
    margin-right: 200px;
  }
  #para{
    float: left;
    margin-left: 60%;
  }
  /* Style the navigation menu inside the left column */
  #myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myMenu li a {
    padding: 15px;
    margin: 10px;
    text-decoration: none;
    color: white;
    display: block

  }
  
  #myMenu li a:hover {
    background-color: #eee;
    color: darkslategrey;
  }
  .dropdown-menu{
   background-color: dimgray;
    color: darkslategrey;
  }
  .leE{
   
    color:steelblue
  }


  